
@charset "UTF-8";
html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
    margin: 0px;
    
    height: 100%;
    background-color: #efefef;
}
/*HEADER*/
header{
    width: 100%;
    height: auto;
    /* text-align: center; */
    position: relative;
}
header div#heading-text img{
    width: 80px;
    /* height:90px; */
}
header div#heading-text p{
    margin: 0px;
    display: inline;
    padding-left: 2px;
    
}
header div#heading-text{
    font-family: fantasy;
    font-weight: 500;
    font-size: 5em;
    color: #efefef;
    padding-top: 20px;
    text-align: left;
}
header div#header{
    height: 150px;
    background-color: #333;
}
header div#top-bar{
    height: auto;
    background-color: #333;
    margin: auto;
    text-align: left;

}
header ul {
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* text-align: center; */
    margin: 0px;
    border-top: 1px solid #5a5858;
} 
header ul li {
    display: inline-block;
} 
header ul li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding: 20px 25px;
    text-decoration: none;
} 
header ul li a:hover:not(.active) {
    background-color: #111;
}  
header ul .active {
    background-color: #4CAF50;
    
}
header #login-info{
    position: absolute;
    top: 25px;
    right: 0px;
    margin-right: 10px;
    color: #c5c5c5;
}



/*CONTENT AREA*/
div#main-content-area{
    width: auto;
    height: 84vh;
    margin-left: 1%;
    padding: 100px;
    overflow: auto;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5em;
    background-color: #fff;
    position: relative;
}
div#main-content-area ul{
    list-style: disc;
    list-style-position: outside;
    padding-left: 100px;
    text-indent: 0;
}
.article h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.0rem;
}
.article ul li:not(:last-child), .article ol li:not(:last-child) {
    line-height: 1.7;
    margin-bottom: 0.5rem;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '\2605  ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
/**RATING END**/


/*FOOTER*/
footer{
  padding-left:0px;
    clear: both;
    /* display:inline; */
    display: block;
    background-color: #1ac4c4;
    bottom: 0px;
    width: 100%;
    height: auto;    
    border-top: 1px solid #d2d2d2;
    padding: 10px 0px 10px 0px; 
}

/*FOOTER END*/
