<%- include('partials/header.ejs')%> 
<div class = "content">
    <h3></h3> 
    <p>Trade on award-winning platforms with the company that has thousands of global offerings, and enjoy the peace of mind that we’re part of StoneX Group – a NASDAQ-listed financial giant that gives us access to price feeds unavailable to other brokers.</p>
</div>

    <p>Currency trading platform helps you in buying or selling currency pairs in the foreign exchange market at the best exchange rate available in the market.</p><br>
&nbsp;<br>
While it's relatively easy to trade currency any day,You make or lose money based on the buy/sell decision you make and the direction your currency pair moves and the trading company is not responsible for your lose.  <br>
&nbsp;<br>


<%- include('partials/footer.ejs')%>