<%- include('partials/header.ejs')%> 
<div class = "content">
    <h3>Contact us anytime from Monday to Friday at support.trade@forex.com</h3> 
    <p>For instant help kindly interact with the bot provided on our application</p>
    <p>Get in contact with us at our tollfree number 111-222-3333</p>
</div>


<%- include('partials/footer.ejs')%>