<%- include('partials/header.ejs')%>

         <section class="article">
            <div id="main-content-area">
                <h2>WELCOME TO CURRENCY TRADING</h2>
                <div>
                    Currency trading platform helps you in buying or selling currency pairs in the foreign exchange market at the best exchange rate available in the market.<br>
                &nbsp;<br>
                While it's relatively easy to trade currency any day,You make or lose money based on the buy/sell decision you make and the direction your currency pair moves and the trading company is not responsible for your lose.  <br>
                &nbsp;<br>
                <span>Services Provided</span>
                    <ul>
                        <li>
                            <em></em>  Looking up prices at the moment</li>
                        <li>
                            <em>  </em>Allows traders to buy or sell foreign currency</li>
                        <li>
                            <em> </em>Can check the history of prices at any moment of time</li>
                       
                  </ul>
                
                       
                    
                    
                    <br> 
                </div>
            </div>
        </section>
  
<%- include('partials/footer.ejs')%>
